{% extends 'items/index.html' %}
{% block editLaptop %}
    <div class="item">
        {% if success == 1 %}
            <script>
                alert('Sửa thành công!')
            </script>
        {% endif %}
        {% if Laptop %}
            <form action="{% url 'items:updateLaptop' %}" method="post">
            {% csrf_token %}
            <div class="title">
                <p>Sửa laptop</p>
                <input type="number" class="form-control" name="id" value="{{ Laptop.id }}" hidden>
            </div>
            <div class="item-book col-auto">
                <label for="name">Tên: </label>
                <input type="text" class="form-control" name="name" id="" value="{{ Laptop.name }}">
            </div>
            <div class="item-book col-auto">
                <label for="brand_id">Thương hiệu: </label>
                <select class="form-select" aria-label="Default select example" name="brand_id">
                    {% for b in Brands %}
                        <option value="{{ b.id }}" {% if Laptop.brand.id == b.id %}selected{% endif %}>{{ b.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <button class="btn btn-primary ms-2"><a href="{% url 'items:addBrand' %}" target="_blank">Thêm thương hiệu</a></button>
            </div>

            <div class="item-book col-auto">
                <label for="price">Giá: </label>
                <input type="text" class="form-control" name="price" id="" value="{{ Laptop.price }}">
            </div>
            <div class="item-book col-auto">
                <label for="status">Trạng thái: </label>
                <select class="form-select" aria-label="Default select example" name="status">
                    <option value="C" {% if Book.status == 'C' %}selected{% endif %}>Còn hàng</option>
                    <option value="H" {% if Book.status == 'H' %}selected{% endif %}>Hết hàng</option>
                    <option value="CH" {% if Book.status == 'CH' %}selected{% endif %}>Chờ hàng</option>
                </select>
            </div>
            <div class="item-book col-auto ">
                <label for="slug">Slug: </label>
                <input type="text" class="form-control" name="slug" value="{{ Laptop.slug }}">
            </div>
            <div class="item-book col-auto ">
                <label for="cpu">CPU: </label>
                <input type="text" class="form-control" name="cpu" value="{{ Laptop.cpu }}">
            </div>
            <div class="item-book col-auto">
                <label for="ram">RAM: </label>
                <input type="text" class="form-control" name="ram" value="{{ Laptop.ram }}">
            </div>
            <div class="item-book col-auto">
                <label for="vga">VGA: </label>
                <input type="text" class="form-control" name="vga" value="{{ Laptop.vga }}">
            </div>
            <div class="item-book col-auto">
                <label for="screen">Màn hình: </label>
                <input type="text" class="form-control" name="screen" value="{{ Laptop.screen }}">
            </div>
            <div class="item-book col-auto">
                <label for="storage">Bộ nhớ lưu trữ: </label>
                <input type="text" class="form-control" name="storage" value="{{ Laptop.storage }}">
            </div>
            <div class="item-book col-auto">
                <label for="battery">Pin: </label>
                <input type="text" class="form-control" name="battery" value="{{ Laptop.battery }}">
            </div>
            <div class="item-book col-auto">
                <label for="os">Hệ điều hành: </label>
                <input type="text" class="form-control" name="os" value="{{ Laptop.os }}">
            </div>
            <div class="item-book col-auto ">
                <label for="description">Mô tả: </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="description">{{ Laptop.description }}</textarea>
            </div>

            <div class=" button-div d-flex justify-content-around col-auto">
                <button class=" button btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        {% endif %}
    </div>
{% endblock %}