{% extends 'items/index.html' %}
{% block addAuthor %}
    <div class="item">
        {% if success == 1 %}
            <script>
                alert('Thêm thành công!')
            </script>
        {% endif %}
        <form action="{% url 'items:saveAuthor' %}" method="post">
            {% csrf_token %}
            <div class="title">
                <p>Thêm tác giả</p>
            </div>
            <div class="item-book col-auto">
                <label for="name">Tên tác giả: </label>
                <input type="text" class="form-control" name="name" id="">
            </div>
            <div class=" button-div d-flex justify-content-around col-auto">
                <button class=" button btn btn-primary" type="submit">Submit</button>
            </div>

        </form>
    </div>
{% endblock %}