{% extends 'items/index.html' %}
{% block addBook %}
    <div class="item">
        {% if success == 1 %}
            <script>
                alert('Thêm thành công!')
            </script>
        {% endif %}
        <form action="{% url 'items:saveBook' %}" method="post">
            {% csrf_token %}
            <div class="title">
                <p>Thêm sách</p>
            </div>
            <div class="item-book col-auto">
                <label for="name">Tên sách: </label>
                <input type="text" class="form-control" name="name" id="">
            </div>
            <div class="item-book col-auto">
                <label for="category_id">Danh mục: </label>
                <select class="form-select" aria-label="Default select example" name="category_id">
                    {% for c in Categories %}
                        <option value={{ c.id }}>{{ c.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="item-book col-auto">
                <label for="price">Giá: </label>
                <input type="text" class="form-control" name="price" id="">
            </div>
            <div class="item-book col-auto">
                <label for="status">Trạng thái: </label>
                <select class="form-select" aria-label="Default select example" name="status">
                    <option value="C">Còn hàng</option>
                    <option value="H">Hết hàng</option>
                    <option value="CH">Chờ hàng</option>
                </select>
            </div>
            <div class="item-book col-auto">
                <label for="author">Tác giả: </label>
                <select class="form-select" aria-label="Default select example" name="author">
                    {% for a in Authors %}
                        <option value={{ a.id }}>{{ a.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <button class="btn btn-primary ms-2"><a href="{% url 'items:addAuthor' %}" target="_blank">Thêm tác giả</a></button>
            </div>
            <div class="item-book col-auto ">
                <label for="slug">Slug: </label>
                <input type="text" class="form-control" name="slug">
            </div>
            <div class="item-book col-auto ">
                <label for="publisher">Nhà xuất bản: </label>
                <input type="text" class="form-control" name="publisher">
            </div>
            <div class="item-book col-auto">
                <label for="pub_date">Năm xuất bản</label>
                <input type="number" class="form-control" name="pub_date" min="1900" max="2022">
            </div>
            <div class="item-book col-auto ">
                <label for="description">Mô tả: </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="description"></textarea>
            </div>
            <div>
                <label for="image">Ảnh</label>
                <input type="file" name="image" multiple onchange="">
            </div>
            <div class=" button-div d-flex justify-content-around col-auto">
                <button class=" button btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <script>
        function preview()
    </script>
{% endblock %}